node_modules

# Output
.svelte-kit
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# proj files to ignore formatting
CHANGELOG.md
static/
src/app.html
test/expected.html

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
